// YourTypes kerning_training/css/style.css
// Coded by Yota Odaka

div {
  &.dataset-name {}
  &.font-selector {}
  &.kerning-training-field {
    div {
      font-size: 50px;
      letter-spacing: 0;
      line-height: 2em;
      span {
        &::after {

        }
        // border-style: solid;
        // border-width: 1px;
        // border-color: rgba(255, 40, 40, 0.5);
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
      &.hide-em-boxes {
        span {
          border-width: 0;
        }
      }
      &.hide-bounding-boxes {
        span {

        }
      }
    }
  }
  &.export-as {}
}
