// YourTypes kerning_training/css/style.css
// Coded by Yota Odaka

@import "../common/_variables";

div {
  &.loading-curtain {
    display: inline-block;
    position: absolute;
    &.hidden {
      display: none;
    }
  }
}
