// YourTypes applying_editor/css/style.css
// Coded by Yota Odaka

@import "../common/_variables";
@import "../common/_rules";

section.designed-text {
  margin: 80px auto 80px 40px;
  display: block;
  text-align: left;
  div.designed-text.default {
    min-height: 100px;
  }
  div.designed-text.strict {
    min-height: 100px;
  }
  div.designed-text.normal {
    min-height: 100px;
  }
  div.designed-text.lite {
    min-height: 100px;
  }
  div {

    &.designed-text-field {
      div.designed-text-field-chars {
        span {
          font-size: inherit;
        }
      }
    }
  }
}
