// YourTypes applying_editor/css/style.css
// Coded by Yota Odaka

@import "../common/_variables";
@import "../common/_rules";

section.designed {
  margin: 80px auto 80px 40px;
  display: block;
  text-align: left;
  // div.designed-text.default {
  //   min-height: 100px;
  // }
  // div.designed-text.strict {
  //   min-height: 100px;
  // }
  // div.designed-text.normal {
  //   min-height: 100px;
  // }
  // div.designed-text.lite {
  //   min-height: 100px;
  // }
  div {
    &.designed-text-field {
      span.designed-text-field-chars {
        display: inline-block;
      }
    }
  }
}
